#!/usr/bin/env bash

# Define which files to update and the pattern to look for
# $1 Current version
# $2 New version
function bump_files() {
	bump package.json "\"version\": \"$1\"" "\"version\": \"$2\""
	#bump README.md "my-plugin v$current_version" "my-plugin v$new_version"
}
